<h1><%= @course.title %></h1>
<h4>Code : <%= @course.code %></h4>
<h4>Credit : <%= @course.credit %></h4>




<%= link_to(edit_course_path(@course), class: 'mr-3') do %>
  <i class="fas fa-edit"></i>Edit
<% end %>

<%= link_to(course_path(@course),method: 'delete', data: { confirm: 'Are you sure?' }, class: '') do %>
  <i class="far fa-trash-alt "></i>Delete
<% end %>



<p>
  <%= link_to 'Back', courses_path , class: 'btn btn-primary btn-sm mt-3' %>
</p>
